* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

#inicio {
    background-image: linear-gradient(90deg, rgba(199, 196, 196, 0.5), rgba(169, 166, 166, 0.6)), url('img/home.jpg');
    object-fit: cover;
    background-size: cover;
    height: 97vh;
    width: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    margin: auto;
    min-height: 70vh;
    position: relative;
    overflow: hidden;
}

#inicio .container {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* Espaço entre h1 e p */
.header-container .header-title {
    margin-bottom: 2rem;
}

/* Imagem para dispositivos móveis */
@media screen and (max-width: 768px) {
    #inicio {
        background-image: linear-gradient(90deg, rgba(199, 196, 196, 0.5), rgba(169, 166, 166, 0.6)), url('img/home-mobile.jpg');
    }
    
    #inicio h1 {
        font-size: 2rem;
    }
    
    #inicio p {
        font-size: 1.2rem;
    }
    
    #inicio .container {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

:root {
    --azul-site: #457b9d;
    --azul-escuro: rgb(7, 5, 61);
    --cinza-claro: #f1faee;
}

.navbar, .footer, .card, .list-group-item {
    border-radius: 1rem;
}

.card-title i, .title i, footer i {
    color: var(--azul-site);
}

.btn-primary {
    background: var(--azul-site);
    border: none;
    border-radius: 1rem;
}

.nav-link.active, .nav-link:hover {
    background: var(--cinza-claro);
    color: var(--azul-site) !important;
    font-weight: bold;
    border-radius: 0.5rem;
    transition: background 0.2s;
}
